 
 <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Boutique de voitures</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_car_index') }}">La liste des voitures</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ path('app_carcategory_index') }}">La liste des categories</a>
        </li>
   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Espace administrateur
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_admin_carcategory_index') }}">La liste des categories</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_car_index') }}">La liste des voitures</a></li>
          </ul>  
        </li>
      </ul> 
      
         

      <form class="d-flex" role="search" action="{{ path('app_recherche') }}" method="GET">
        <input class="form-control me-2" name="search" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Chercher</button>
      </form> 
    </div>  
  </div>
</nav>